*{
    margin: 0;
    padding: 0;
    background-color: #8ebdb6;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-size: 30px;
    padding: 15px;
    margin: 10px;
    font-weight: 700;
    text-align: center;
}
h2{
    font-size: 20px;
    padding: 15px;
    margin: 10px;
    font-weight: 500;
}
p{
    font-size: 15px;
    padding: 15px;
    margin: 30px;
    font-weight: 300;
}
.form{
    width:90%; 
    margin:15px; 
    display:inherit; 
    background-color:#fff; 
    border-radius:4px; 
    display: block;
    box-shadow: 1px 0px 3px 0px #cbcbcb;
}

.form label { 
    width:50%; 
    float:left; 
    margin-bottom: 15px; 
    padding-top: 10px;
}

.form .campos {
        width:100%;  
        border-top:1px transparent solid; 
        border-left:1px transparent solid; 
        border-bottom:1px #eaeaea solid; 
        border-right:1px transparent solid; 
        outline:none; 
        padding: 0.5em 0em;
        transition:0.4s;
        margin-bottom: 15px; 
}

.form textarea { 
    width:100%; 
    float:left; 
    margin-bottom:10px;
}

.form button { 
    width:auto; 
    float:left; 
    margin-left: 3px;
    padding:0.4em 1.3em;  
    font-size:1em; 
    background-color:#0085d5; 
    color:#fff; 
    border:0; 
    border-radius:4px;
    transition:0.4s; 
    cursor: pointer;
    
}

li{
    display: inline;
    margin: 15px;
}

a{
    text-decoration: none;
}

table, td, th {
    border: 1px solid black;
    text-align: center;
}
  
table {
    margin: 30px;
    border-collapse: collapse;
    width: 70%;
}
  
th {
    height: 70px;
    background-color: #ebefc9;
    
}

td img {
    margin-top: 10px;
    margin-bottom: 10px ;
}
nav {
    display: block;
    justify-items: center;
    padding: 20px;
}

img{
    display: inline;
    padding: 10 px;
    border-radius: 10px;
    width: 200px;
}

.gerar{
   
    width:70%; 
    margin:15px; 
    display:block; 
    background-color:azure; 
    border-radius:4px; 
    display: block;
    box-shadow: 1px 0px 3px 0px #cbcbcb;
}

.gerar label { 
    width:100%; 
    float:left; 
    margin-bottom: 15px; 
    padding-top: 10px;
}
.gerar .campos {
    width:100%;  
    border:1px transparent solid; 
    outline:none; 
    padding: 0.5em 0em;
    transition:0.4s;
    margin-bottom: 15px; 
}
.gerar button { 
    width:auto; 
    float:left; 
    margin-left: 3px;
    padding:0.4em 1.3em;  
    font-size:1em; 
    background-color:#0085d5; 
    color:#fff; 
    border:0; 
    border-radius:4px;
    transition:0.4s; 
    cursor: pointer;
    
}
.gerar img{
    display: inline;
    padding: 10 px;
    border-radius: 10px;
    width: 200px;
    margin: 40px;
    justify-items: center;
}
